# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# venv
.venv/
venv/

# Django
db.sqlite3
*.log

# Test / coverage
.coverage
htmlcov/
.pytest_cache/

# IDE
.vscode/
.idea/
